html {
    min-height: 100vh;
    width: 100%;
    background: url(imgs/fundo.jpg);
    background-size: cover;
    font-family: "Turret Road", sans-serif;
}

.voltar {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: black;
    background-color: #c4c4a2;
    padding: 5px;
  }
  
  a:hover {
    color: #8A9A5B;
    background-color: #4f5c28;
    padding: 6px;
  }

body {
    text-align: center;
    color: white;
    font-size: 20px;
}
h1 {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
    margin: 0 auto;
}
@media only screen and (max-width: 866px) {
  body {
      margin-top: 80px;
  }
  h1 {
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 47%;
      margin: 0 auto;
  }
  .pdf {
    width: 355px;
    height: 350px;
    background-color: white;
  }
}