html {
    min-height: 100vh;
    width: 100%;
    background-color: gray;
    font-family: "Turret Road", sans-serif;
}

body {
    margin-top: 80px;
    text-align: center;
    color: white;
    font-size: 15px;
}
.voltar {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: black;
    background-color: #c4c4a2;
    padding: 5px;
}
  
a:hover {
    color: #8A9A5B;
    background-color: #4f5c28;
    padding: 7px;
}
h1 {
    font-size: 23px;
}
h2 {
    font-size: 18px;
}
p {
    font-size: 23px;
}

@media only screen and (max-width: 900px) {
    body {
        margin-top: 80px;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 19px;
    }
    p {
        font-size: 19px;
    }
}